
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav{
    height: 50px;
}

h3{
    padding-top: 5px;
}

#contact-steve{
    padding-right: 15px;
    padding-left: 15px;
}

#about-steve{
    padding-left: 15px;
}

#contact-container{
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-bottom: 10px;
}

#portfolio-container{
    padding-bottom: 10px;
    margin-bottom: 10%;
}

#steve-bio{
    font-size: 22px;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 200px;
}

@media screen and (max-width: 980px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 640px) {
    .nav{
        position: static;
    }
    
}